[Unit]
Description=YOLObot
# systemd user services will start on any host by default, making duplicate bots
ConditionHost=hostname.domain.tld

[Service]
ExecStart=%h/YOLObotProd/Bot.sh
Restart=always
Type=simple
WorkingDirectory=%h/YOLObotProd

[Install]
WantedBy=multi-user.target
