[Unit]
Description=YOLObotBeta
# systemd user services will start on any host by default, making duplicate bots
ConditionHost=hostname.domain.tld
StartLimitIntervalSec=0

[Service]
# Test in git dir instead of prod
ExecStart=%h/yolobot/Bot.sh -i YOLObotBeta
Restart=always
RestartSec=5
Type=simple
WorkingDirectory=%h/yolobot

[Install]
WantedBy=multi-user.target
