[Unit]
Description=YOLObotBeta
# systemd user services will start on any host by default, making duplicate bots
ConditionHost=hostname.domain.tld

[Service]
# Makes session YOLObotBeta on socket /tmp/tmux-%U/YOLObotBeta in background
# which says script path
ExecStart=/usr/bin/tmux -S /tmp/tmux-%U/YOLObotBeta new -ds YOLObotBeta ./Bot.sh YOLObotBeta
ExecStartPre=/bin/mkdir -p /tmp/tmux-%U
ExecStop=/usr/bin/tmux -S /tmp/tmux-%U/YOLObotBeta kill-session -t YOLObotBeta
Restart=always
Type=forking
# Test in git dir instead of prod
WorkingDirectory=%h/yolobot

[Install]
WantedBy=multi-user.target
