[Unit]
Description=YOLObot

[Service]
ExecStart=/usr/bin/tmux -S /tmp/tmux-%U/YOLObot new -ds YOLObot ./Bot.sh YOLObot
# Makes session YOLObot on socket /tmp/tmux-%U/YOLObot in background
# which says script path
ExecStartPre=/bin/mkdir -p /tmp/tmux-yolobot
ExecStop=/usr/bin/tmux -S /tmp/tmux-yolobot/YOLObot kill-session -t YOLObot
Restart=always
Type=forking
WorkingDirectory=%h/YOLObotProd

[Install]
WantedBy=multi-user.target
